### Decorators

### kwargs in python

In [ ]:
a = 23 - int (any number without decimal)
b = 45.7 - float (any number with decimal)
c = "example" - str (contains characters, numbers and symbol)
d = True / False - Boolean
e = [1, 2, 3, False, "Example"] - list
f = (4, 5.6, True, "Example") - tuple
g = {key1: value1, key2: value2, ...} - dict
h = {value1, value2, value3, ...} - set will store only unique values

**kwargs acts like a dictionary

In [1]:
a={
    "name":"Utkarsh",
    "age":28,
    "salary":15000
}

In [2]:
type(a)

dict

In [3]:
a.keys()

dict_keys(['name', 'age', 'salary'])

In [5]:
a.values()

dict_values(['Utkarsh', 28, 15000])

In [6]:
a.items()

dict_items([('name', 'Utkarsh'), ('age', 28), ('salary', 15000)])

In [7]:
for key, value in a.items():
    print(f"{key}:{value}")

name:Utkarsh
age:28
salary:15000

In [10]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [11]:
function(name="Sarthak",age=23)

{'name': 'Sarthak', 'age': 23}
<class 'dict'>
name:Sarthak
age:23

In [13]:
function(emp_id=101, name="Aditya", dept="Markt",married=False)

{'emp_id': 101, 'name': 'Aditya', 'dept': 'Markt', 'married': False}
<class 'dict'>
emp_id:101
name:Aditya
dept:Markt
married:False

#### Example conside a restaurant menu, consider menu is provided with taxex include in a dictionary

In [14]:
menu={
    "burger":120,
    "sandwich":80,
    "fries":60,
    "pasta":200,
    "pizza":300
}

In [16]:
menu.get("burger")

120

In [18]:
print(menu.get("maggi"))

None

### Hotel_bill (table_no=1 , burger=3, sandwich=2, fries=1)

In [28]:
def hotel_bill(table_no, **kwargs):
    # Print table number
    print(f"Table number - {table_no}")
    # Intialize total amount to 0
    amt = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt += subtotal
        print(f"Food item - {food}, qty- {qty}, price - {price} INR, subtotal - {subtotal} INR")
    # Show the final bill
    print(f"Final Bill is : {amt} INR")
    return amt

In [30]:
c1=hotel_bill(
    table_no=1,
    burger=1,
    fries=2
)

Table number - 1
Food item - burger, qty- 1, price - 120 INR, subtotal - 120 INR
Food item - fries, qty- 2, price - 60 INR, subtotal - 120 INR
Final Bill is : 240 INR

In [31]:
c2 = hotel_bill(
    table_no=2,
    sandwich = 4,
    pizza = 1,
    fries = 5
)

Table number - 2
Food item - sandwich, qty- 4, price - 80 INR, subtotal - 320 INR
Food item - pizza, qty- 1, price - 300 INR, subtotal - 300 INR
Food item - fries, qty- 5, price - 60 INR, subtotal - 300 INR
Final Bill is : 920 INR

# Decorators

##### Write a decorator which will welcome user , print function results and thank the user

In [32]:
def welcome(func):
    def wrapper(*args, **kwargs):
        print("Hi Welcome to my function")
        res = func(*args, **kwargs)
        print(f"Function Results : {res}")
        print("Thank you")
        return res
    return wrapper

In [33]:
@welcome
def simple_interst(p, n, r):
    I = (p*n*r)/100
    A = p + I
    return I, A

In [34]:
p1 = simple_interst(10000, 5, 7.1)

Hi Welcome to my function
Function Results : (3550.0, 13550.0)
Thank you

In [35]:
p1

(3550.0, 13550.0)

In [36]:
@welcome
def hypotenuse(a, b):
    c = (a**2 + b**2)**(1/2)
    return c

In [37]:
h1 = hypotenuse(a=3, b=4)

Hi Welcome to my function
Function Results : 5.0
Thank you

In [38]:
h2 = hypotenuse(4, 7.1)

Hi Welcome to my function
Function Results : 8.149233092751734
Thank you