# Class in Object Oriented Programming

In [2]:
a=32
print(type(a))

<class 'int'>

In [3]:
b=24.5
print(type(b))

<class 'float'>

In [5]:
c=False
print(type(c))

<class 'bool'>

In [6]:
e=[1,2,3,4,5]
print(type(e))

<class 'list'>

In [9]:
g= {
    "roll_no": [101,102,103],
    "name":["Sarthak","Raman","Aditya"],
    "marks":[89,79,93],
}
print(type(g))

<class 'dict'>

In [10]:
import pandas as pd
df=pd.DataFrame(g)
df

   roll_no     name  marks
0      101  Sarthak     89
1      102    Raman     79
2      103   Aditya     93

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Attributes of class dataframe

In [12]:
df.columns

Index(['roll_no', 'name', 'marks'], dtype='object')

In [13]:
list(df.index)

[0, 1, 2]

In [14]:
df.shape

(3, 3)

In [15]:
df.dtypes

roll_no     int64
name       object
marks       int64
dtype: object

### Methods(functions) of class Dataframe

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
 2   marks    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [17]:
df.sort_values(by="marks",ascending=False)

   roll_no     name  marks
2      103   Aditya     93
0      101  Sarthak     89
1      102    Raman     79

In [19]:
df.isna().sum()

roll_no    0
name       0
marks      0
dtype: int64

In [20]:
df.agg({"marks":"mean"})

marks    87.0
dtype: float64

### Creating a user defined class

In [23]:
class Person:
    #first function is a constructor function __init__
    def __init__(self,name:str,age:int,gender:str,occupation:str):
        self.name = name 
        self.age = age
        self.gender = gender
        self.occupation = occupation

    #Extra functionality for class
    def talk(self):
        print(f"Hi there my name is {self.name}")
        print(f"I am currently {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [24]:
p1 = Person(name="Sarthak",age=23,gender="Male",occupation="Engg")

In [25]:
p1

In [26]:
print(type(p1))

<class '__main__.Person'>

#### __main__ refers to current file i am working on

In [27]:
p1.name

'Sarthak'

In [28]:
p1.age

23

In [30]:
p1.talk()

Hi there my name is Sarthak
I am currently 23 years old
I am Male
I work as a Engg

In [31]:
p2=Person("Aditi",28,"female","HR")
type(p2)

__main__.Person

In [32]:
p2.talk()

Hi there my name is Aditi
I am currently 28 years old
I am female
I work as a HR

In [33]:
p2.age=32

In [34]:
p2.age

32

In [35]:
from dataclasses import dataclass
from typing import Literal

In [36]:
@dataclass
class Person2:

    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if not isinstance(self.name, str):
            errors.append("name should be a string")
        if not isinstance(self.age, int) or self.age <= 0:
            errors.append("Age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("Gender should be either male or female")
        if not isinstance(self.occupation, str):
            errors.append("Occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))

    def introduce(self):
        print(f"My name is {self.name}")
        print(f"I am currently {self.age} years old")
        print(f"I am a {self.gender}")
        print(f"I work as a : {self.occupation}")

In [40]:
p3 = Person2(name="Raman", age=20, gender="male", occupation="Sales")

In [41]:
p3

Person2(name='Raman', age=20, gender='male', occupation='Sales')

In [43]:
p3.introduce()

My name is Raman
I am currently 20 years old
I am a male
I work as a : Sales